
PRA_B4_FOTOKIOSK/obj/project.nuget.cache
PRA_B4_FOTOKIOSK/obj/project.assets.json
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.props
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.dgspec.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.designer.runtimeconfig.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.designer.deps.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/872981e7-75a6-4953-bc05-5d1fd4cf9c62.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/51fe4ceb-9846-47e4-b3ba-d6049916950c.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/49bdd312-1751-494b-a1d3-6e6b86c6db1c.vsidx
.vs/PRA_B4_FOTOKIOSK/FileContentIndex/187d018b-7eb6-40d9-9b0d-0afd72a8c9eb.vsidx
.vs/PRA_B4_FOTOKIOSK/DesignTimeBuild/.dtbcache.v2
PRA_B4_FOTOKIOSK/obj/project.nuget.cache
PRA_B4_FOTOKIOSK/obj/project.assets.json
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.g.props
PRA_B4_FOTOKIOSK/obj/PRA_B4_FOTOKIOSK.csproj.nuget.dgspec.json
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK_MarkupCompile.i.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.GeneratedMSBuildEditorConfig.editorconfig
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.assets.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfoInputs.cache
PRA_B4_FOTOKIOSK/obj/Debug/net6.0-windows/PRA_B4_FOTOKIOSK.AssemblyInfo.cs
